.jumbotron {
  padding-top: 8rem;

  background-color: #e0edf8;
}
#Project {
  background-color: #e0edf8;
}
section {
  padding-top: 7rem;
}


p{
    padding-left: 2%;
    
}

.responsive {
    width: 100%;
    height: auto;
  }
